* {
  box-sizing: border-box;
}

label {
  font-size: 16px;
  font-weight: bolder;
  padding-left: 10px;
}
  
input[type=text][input=password] {
  width: 20%;
  margin: 8px 0; 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  resize: vertical;
}
input:hover{
  background: #BFEDEF;
}

textarea:focus, input:focus {
  border: 2px solid #011627;
  outline: none;
}

.home-wrapper {
  width: 80%;
  margin: 0 auto;
}
.welcome-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color:#20FC8F;
}

.login-container{
  position: relative;
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}


@media screen and (max-width:500px){
  .login-container{
      width: 75%;

  }
}