*{
  box-sizing: border-box;
}
.App{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  width: 100%;
}

.header-container{
  margin-top: 10px;
  margin-bottom: 20px;
}
.welcome-screen-title {
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  color: #008BF8;
}

.nav-links {
  background-color: #011627;
  text-align: center;
  margin: 10px auto;
  padding: 15px;

}

.link-wrapper{
  display: inline;
}

.link{
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}

.link:hover{
  color: #008BF8;
  font-style: bold;
}

button{
  font-family: 'Lato', sans-serif;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #008BF8;
  cursor: pointer;
  outline: none;
  color: black;
}
button:hover{
  background-color: #DC0073;
  color: #BFEDEF
}

a {
  text-decoration: none;
}
