*{
  box-sizing: border-box;
}
.App{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  width: 100%;
}

.header-container{
  margin-top: 10px;
  margin-bottom: 20px;
}
.welcome-screen-title {
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  color: #008BF8;
}

.nav-links {
  background-color: #011627;
  text-align: center;
  margin: 10px auto;
  padding: 15px;

}

.link-wrapper{
  display: inline;
}

.link{
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.link:hover{
  font-style: bold;
  color:#008BF8;
}

.button-standard{
  font-family: 'Lato', sans-serif;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #008BF8;
  cursor: pointer;
  outline: none;
  color: white;

}
.button-standard:hover{
  background-color: #DC0073;
  color: #BFEDEF
}

a {
  text-decoration: none;
}

@media and (max-width:880px){
  .contract-view-wrapper{
    display: none
  }
  .welcome-screen-title{
    font-size: 22px;
  }
}