*{
  box-sizing: border-box;
}

.user-contracts-container{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
.user-profile-container{
  display: flex;
  justify-content: center;
}
.user-contracts{
  width: 60%;
  margin: 0 auto;
}

.link {
  color: white;
  font-size: 16px;
}
.user-details{
  text-align: left;
  margin: 2em;
}