
.contract-container{
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}
.contract-summary-container{
  width: 100%;
  padding: 1em;
}
.item{
  display: block;
  border: solid 1px black;
  padding: 1em;
}

.contract-summary-table {
  display: flex;
  flex-direction: column;
  margin: 0 0 3em 0;
  padding: 0;
}


.contract-details {
  justify-content: left;
}
.buttons-container{
  display: flex;
  justify-content: center;
}


